/* .about-text h3 {
    font-size: 1.75rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #495057;
} */
 .about-text h3 {
    font-size: 1.75rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #495057;
}
